<?xml version="1.0"?>
<model>
  <name>stable_diff_cam</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>vln_project</name>
    <email>root@localhost</email>
  </author>
  <description>Low-center-of-mass differential-drive camera robot for Gazebo VLN validation.</description>
</model>
